@{
    ViewBag.Title = "Изменение ролей юзверя";
}

@model ChangeRoleViewModel
 
<h2>@ViewBag.Title @Model.UserName</h2>
 
<form asp-action="Edit" method="post">
    <input type="hidden" name="name" value="@Model.UserId" />
    <div class="form-group">
        @foreach (var role in Model.AllRoles)
        {
            <input type="checkbox" name="roleNames" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
        }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>