@model IEnumerable<User>
@{
    ViewBag.Title = "Список юзверей";
}

<div class="row">
    <div class="col-md-3">
        
    </div>
</div>

<table class="table">
    <tr><th>@UserLabels.UserName</th><th>@EmailLabels.Email</th><th>@EmailLabels.EmailStatus</th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.EmailConfirmed</td>
        </tr>
    }
</table>