@model IEnumerable<User>
@{
    ViewBag.Title = "Список юзверей";
}

<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <th>@UserLabels.UserName</th>
                <th>@EmailLabels.Email</th>
                <th>@EmailLabels.EmailStatus</th>
                <th></th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.EmailConfirmed</td>
                    <td>
                        <form method="post" asp-action="Delete" asp-route-username="@user.UserName">
                            <button class="btn btn-danger">Выбросить</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>