@model UserLoginViewModel
@{
    ViewBag.Title = MessageLabels.LoginTitle;
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-3">
        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Name"></label><br/>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name"></span><br/>
            </div>

            <div>
                <label asp-for="Password"></label><br/>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password"></span><br/>
            </div>

            <div>
                <label asp-for="RememberMe" class="checkbox mb-3"></label>
                <input asp-for="RememberMe"/>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">@LoginLabels.LoginButton</button>
            </div>
        </form>
        
        <div>
            @if (Model.ExternalLogins != null)
            {
                @if (Model.ExternalLogins.Count == 0)
                {
                    <div>Ярень забыл про OAuth</div>
                }
                else
                {
                    <div>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <br/>
                            <form method="post" 
                                  asp-action="ExternalLogin" 
                                  asp-route-returnUrl="@Model.ReturnUrl"
                                  asp-route-provider="@provider.Name">
                                <button class="btn btn-success" type="submit" title="Ворваться посредством @provider.Name">
                                    @provider.Name оправдывает цель
                                </button>
                            </form>
                        }
                    </div>
                }
            }
        </div>

        <div>
            <br/>
            <a asp-action="ForgotPassword">@LoginLabels.ForgotPasswordButton</a>
        </div>
    </div>
</div>