@model UserProfileViewModel

<table class="table">
    <tr><th>Имя пользователя</th><th>Электронная почта</th><th>Статус почты</th></tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
        <td>
            @(Model.EmailConfirmed ? "Подтверждена" : "Не подтверждена")
            @if (!Model.EmailConfirmed)
            {
                <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Confirm" asp-route-userName="@Model.Name">Подтвердить</a>
            }
        </td>
    </tr>
</table>
<table class="table">
    <tr><th>ID игры</th><th>Состояние игры</th></tr>
    @foreach (var game in Model?.UserGames)
    {
        <tr>
            <td><a class="btn btn-sm btn-primary" asp-controller="Games" asp-action="GameSides" asp-route-id="@game?.Id">@game?.Id</a></td>
            <td>@game.GameSummaryId.</td>
        </tr>
    }
</table>

