@model UserProfileViewModel
@{
    ViewBag.Title = "Учетная запись";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>Имя юзверя</th>
        <th>Адрес электронная почты</th>
        <th>Состояние адреса электронной почты</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
        <td>
            @(Model.EmailConfirmed ? "Твердый" : "Нетвердый")
            @if (!Model.EmailConfirmed)
            {
                <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Confirm" asp-route-userName="@Model.Name">Сделать твердным</a>
            }
        </td>
    </tr>
</table>
<p><a asp-controller="Account" asp-action="ChangePassword">Произвести переоценку ценностей</a></p>
<table class="table">
    <tr>
        <th>ID игры</th>
        <th>FEN игры</th>
        <th>Состояние игры</th>
        <th>Имя ангела</th>
        <th>Имя черта</th>
        <th>Взобравшийся на голову</th>
    </tr>
    @foreach (var game in Model.UserGames)
    {
        <tr>
            <td><a asp-controller="Games" asp-action="GameSides" asp-route-id="@game.Id">@game.Id</a></td>
            <td>@game.Fen</td>
            <td>@game.RussianStatusFromByte()</td>
            <td>@game.WhiteUsername</td>
            <td>@game.BlackUsername</td>
            <td>@game.Winner</td>
        </tr>
    }
</table>

