@model GameViewModel
@{
    ViewBag.Title = "Сведение об игре";
}

<h2>@ViewBag.Title</h2>

<a asp-action="Index">Вспять</a>
 
<table class="table">
    <tr><th>ID</th><th>FEN</th><th>Состояние</th></tr>
    <tr><td>@Model.Id</td><td>@Model.Fen</td><td>@Model.Status</td></tr>
</table>
<table class="table">
    <tr>
        <th>Имя юзверя</th>
        <th>Сущность</th>
        <th>Присоединиться</th>
    </tr>
    @foreach (var side in Model.Sides)
    {
        <tr>
            @if (side.User != null)
            {
                <td>@side.User</td>
                <td>@(side.ColorId == 1 ? "Ангел" : "Черт")</td>
                <td></td>
            }
            else
            {
                <td>Пусто</td>
                <td>@(side.ColorId == 1 ? "Ангел" : "Черт")</td>
                <td><a class="btn btn-sm btn-primary" asp-action="Join" asp-route-sideId="@side.Id">+</a></td>
            }
        </tr>
    }
</table>

<table class="table">
   <tr>
       <th>ID хода</th>
       <th>Ход</th>
       <th>Игрок</th>
   </tr>
   @foreach (var move in Model.Moves)
   {
       <tr>
           <td>@move.Id</td>
           <td>@move.MoveNext</td>
           <td>@move.User.UserName</td>
       </tr>
   } 
</table>