@using ChessWeb.Application.Constants
@model IEnumerable<Game>
@{
    ViewBag.Title = "Список игр";
}

<h2>@ViewBag.Title</h2>
<a asp-action="Create">Создать игру</a>
<div class="row">
    <div class="col-md-3">
        <table class="table">
            <tr><th>ID игры</th><th>FEN игры</th><th>Состояние игры</th></tr>
            @foreach (var game in Model)
            {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Fen</td>
                    <td>
                        @(game.RussianStatusFromByte() + " ") 
                        @if (User.IsInRole(Roles.AdminRole))
                        {
                            <form asp-action="Delete" asp-route-id="@game.Id" method="post">
                                <a class="btn btn-sm btn-primary" asp-action="GameDetails" asp-route-id="@game.Id">Битва и поле для битвы</a>
                                <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                            </form>
                        }
                         else
                        {
                            <a class="btn btn-sm btn-primary" asp-action="GameDetails" asp-route-id="@game.Id">Битва и поле для битвы</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>